# Create Environment specific file
AMBARIURL=http://<ambari-host>:<ambari-port>
USERNAME=admin
PASSWORD=admin
CLUSTERNAME=PRODCLUSTER
AMBARIUSERNAME=$USERNAME
AMBARIPASSWORD=$PASSWORD
RANGERURL=http://<ranger-host>:<ranger-port>
RANGERUSERNAME=$USERNAME
RANGERPASSWORD=$PASSWORD
BACKUPDIR=/backups
